body {
  font-family: Arial, sans-serif;
  background-color: beige;
  color: #444;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d2b48c; /* Mahogany */
  border: 1px solid #8b4513; /* Saddle Brown */
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #8b0000; /* Dark Red */
}

h2 {
  color: #8b0000; /* Dark Red */
}

ol {
  margin-left: 20px;
  padding-left: 10px;
}

li {
  margin: 10px 0;
}

a {
  color: #8b008b; /* Dark Magenta */
}

a:hover {
  color: #4b0082; /* Indigo */
}
